#li{

  height:350px;
  width:350px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  text-align: center;
}

img{
  width: 80px;
  height: 80px;
}
td{
  width: 100%;
  height: 100%;
}
#t1{
  background-color: #9595ea;
  width: 10%;
  height: 10%;
  margin: 30px 10px 80px 10px;
  padding: 20px 20px 90px 80px;
}
table{

  border-color: #9595ea;
  background-color: #d4d4f7;
  padding: 40px 80px 80px 80px;
}
button,body{
background-color: #9595ea;
}
h1{
  background-color: #9595ea;
}
#t3{
  background-color: #d4d4f7;
  height: 50px;
}
button:hover{
  background-color: #d4d4f7;

}
